/* base styles, feel free to edit */
:root {
  --reddit-blue: #0079D3;
  --reddit-orange: #FF5700;
  --reddit-grey: rgba(0, 0, 0, 0.0975);
  --reddit-light-grey: rgba(0, 0, 0, 0.041);
  --reddit-bg-color: #f1f1f7;
  --body-text-size: 12px;
  --alt-text-color: rgba(0, 0, 0, 0.65);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--reddit-bg-color);
  height: 100%;
  font-family: Tahoma, sans-serif;
}

footer {
  border-top: 1px solid var(--reddit-grey);
  padding: 10px;
  background-color: white;
  min-height: 50px;
  text-align: right;
}

.alt-text {
  color: var(--alt-text-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-height: 50px;
  border-bottom: 1px solid var(--reddit-grey);
}

#logo {
  color: white;
  font-size: var(--body-text-size);
  width: 40px;
  height: 40px;
  background-color: var(--reddit-orange);
  border-radius: 50%;
}

#search {
  background-color: var(--reddit-bg-color);
  font: inherit;
  font-size: var(--body-text-size);
  border: none;
  padding: 7.5px 15px;
  outline: none;
  border: 1px solid var(--reddit-grey);
  border-radius: 4px;
}

#search::placeholder {
  letter-spacing: 0.5px;
  font-size: var(--body-text-size);
}

#search:focus {
  background-color: white;
  border-color: var(--reddit-blue);
}

.button {
  border: 1px solid var(--reddit-blue);
  border-radius: 4px;
  text-transform: uppercase;
  padding: 7.5px 15px;
  font-weight: bold;
  cursor: pointer;
}

.banner>*,
footer>* {
  margin: 10px 25px;
}

.nav {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin: auto;
  padding: 5px;
  display: inline;
  list-style-type: none;
}

/* #feed {
  min-width: 500px;
  max-width: 800px;
  width: 80%;
  margin: 20px auto;
  padding: 0;
}
 */
.feed-header {
  display: flex;
  justify-content: space-between;
}

.feed-title {
  font-weight: normal;
  margin: 0;
}

/* Add your styles here */
html,
body {
  font-family: "Helvetica", serif;
  min-width: 670px;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

footer {
  position: fixed;
  bottom: 0;
}

#feed {
  min-width: 350px;
  max-width: 1250px;
  width: 98%;
  margin: 10px auto;
  padding: 0;
}

h5,
h4,
h3 {
  margin: 0 0;
}

.main {
  display: grid;
  grid-template-columns: 72% 1% 26% 1%;
  grid-template-areas: 'left . right';
  padding-bottom: 35px;
}

.leftpanel {
  grid-area: left
}

.rightpanel {
  padding-top: 10px;
  grid-area: right
}

.logo {
  cursor: pointer;
}

.logged-username {
  cursor: pointer;
  font-weight: bold;
}

.form {
  margin: 12px;
}

.credentials-form {
  display: inline;
  border: 1px solid;
  border-radius: 4px;
  padding: 6px 20px;
}

.submit-button {
  border: 1px solid;
  border-color: #FF5700;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 7.5px 18px;
  font-weight: bold;
  background-color: #FF5700;
  color: #eee8e8;
  margin-top: 4px;
  margin-right: 6px;
}

.submit-button:hover {
  cursor: pointer;
}

.submit-button:active {
  background-color: #DD3500;
  color: #ffffff;
}

.submit-button-2 {
  border: 1px solid;
  border-color: #0079D3;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 7.5px 18px;
  font-weight: bold;
  background-color: #0079D3;
  color: #eee8e8;
  margin-top: 4px;
  margin-right: 6px;
}

.submit-button-2:hover {
  cursor: pointer;
}

.submit-button-2:active {
  background-color: rgb(59, 0, 197);
  color: #ffffff;
}

.loggedinas {
  background-color: var(--reddit-bg-color);
  font: inherit;
  font-size: var(--body-text-size);
  border: none;
  padding: 7.5px 15px;
  outline: none;
  border: 1px solid var(--reddit-grey);
  border-radius: 4px;
}

.post-list {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px
}

.post-left {
  grid-area: p-left;
  margin-left: 2px;
  padding-top: 6px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5cb85c;
  border-radius: 4px;
}

.post-middle {
  grid-area: p-middle;
  justify-content: center;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.post-right {
  display: grid;
  grid-area: p-right;
  grid-template-rows: max-content max-content auto;
  grid-template-areas: 'pr-upper''pr-middle''pr-bottom';
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
}

.post-wrapper {
  border-radius: 7px;
  margin: 4px;

  padding: 0 1px;
  display: grid;
  grid-template-columns: 35px 110px auto;
  grid-template-areas: 'p-left p-middle p-right''p-left p-middle p-right''p-left p-middle p-right';
  overflow: hidden;
  background-color: rgba(144, 212, 142, 0.466);

}

.post-wrapper-nopicture {
  border-radius: 7px;
  margin: 4px;

  padding: 0 1px;
  display: grid;
  grid-template-columns: 35px 3px auto;
  grid-template-areas: 'p-left . p-right''p-left . p-right''p-left . p-right';
  overflow: hidden;
  background-color: rgba(144, 212, 142, 0.466);

}


.post-rightchild-upper {
  grid-area: pr-upper;
  font-weight: bold;
  padding-bottom: 5px;
  min-height: 20px;
}

.post-rightchild-middle {
  grid-area: pr-middle;
  padding-bottom: 5px;
  font-size: 14px;
}

.post-rightchild-bottom {
  grid-area: pr-bottom;
}

.small-button {
  border: 1px solid var(--reddit-blue);
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  text-align: center;
}

.post-upvote {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: white;
}

.post-upvote-active {
  background-color: yellow;
}

.post-votes {
  padding-top: 10px;
  font-weight: bold;
  text-align: center;
}

.post-votes-logged:hover {
  cursor: pointer;
}

.post-title {
  font-size: 18px;
}

.post-expandbutton {
  background-color: white;
}

.post-comments {
  font-size: 12px;
  margin-left: 6px;
  margin-right: 6px;
  color: grey;
  font-weight: bold;
}

.post-remove {
  font-size: 12px;
  margin-left: 6px;
  margin-right: 2px;
  color: grey;
  font-weight: bold;
}

.post-option {
  font-size: 12px;
  margin-left: 2px;
  margin-right: 2px;
  color: grey;
  font-weight: bold;
}

.post-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.upvotes-user {
  font-weight: 100;
}

.upvotes-user-offline {
  font-weight: 100;
}

.upvotes-user:hover {
  text-decoration: underline;
  cursor: pointer;
}

.comment-user:hover {
  text-decoration: underline;
  cursor: pointer;
}

.post-content {
  background-color: white;
  overflow: hidden;
  padding: 12px 12px;
  border-radius: 5px;
  border: 3px solid;
  border-color: black;
  display: none;
  max-width: 100%;
}

.post-image {
  width: 100%;
  max-width: 600px;
}

.user-layout {
  grid-template-rows: 50px 20px 20px 45px 45px 45px;
  grid-template-areas: 'user-uname''user-longdetail''user-longdetail''user-numeric''user-numeric';
  overflow: hidden;
  border: 2px solid var(--reddit-grey);
  border-radius: 6px;
  margin-bottom: 10px;
}

.user-uname {
  grid-area: user-uname;
  font-weight: bold;
  font-size: 30px;
  padding: 5px
}

.user-longdetail {
  grid-area: user-longdetail;
  padding: 5px
}

.user-numeric {
  grid-area: user-numeric;
  padding: 5px;
  padding-right: 10px;
  display: grid;
  width: 50%;
  grid-template-rows: 20px 25px;
  grid-template-areas: 'user-numeric-top''user-numeric-bottom'
}

.user-numeric-clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.user-numeric-top {
  grid-area: user-numeric-top;
  font-size: 16px;
  font-weight: bold;
}

.user-numeric-bottom {
  grid-area: user-numeric-bottom;
  font-size: 18px;
  font-weight: 100;
}

/* === MODAL === */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  display: none;
}

.modal-general {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 24rem;
  border-radius: 0.5rem;
}

.modal-comment {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80%;
  border-radius: 0.5rem;
}

.modal-header {
  padding: 2px 16px;
  background-color: #b90921;
  color: white;
  min-height: 2rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

#modal_header_succ,
#modal_header_text_2,
#modal_header_text_3,
#modal_header_text {
  padding-top: 12px;
  padding-bottom: 12px;
}

.modal-header-style2 {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  min-height: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.modal-body {
  padding: 6px 16px;
  min-height: 1rem;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: rgb(226, 226, 226);
  color: #000000;
  margin-top: 0.5rem;
}

.close-button:hover {
  background-color: rgb(146, 146, 146);
}


.follow-button {
  border: 1px solid;
  background-color: var(--reddit-blue);
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 7.5px 15px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.follow-button-active {
  background-color: white;
  color: var(--reddit-blue);
}

.follow-button-disabled {
  cursor: default;
  background-color: #dddddd;
}

.follow-button-disabled:hover {
  cursor: help;
}

.submission-title {
  width: 100%;
  height: 60px;
  border: 2px solid;
  max-height: 200px;
  font-size: 26px;
  border-radius: 5px;
}

.submission-text {
  width: 100%;
  height: 120px;
  border-radius: 5px;
}

.submission-sub {
  width: 100%;
  height: 30px;
  font-size: 22px;
  border-radius: 5px;
}

.submission-sub-edit {
  width: 100%;
  font-size: 22px;
  margin: 0;
}
.submission {
  margin: 10px;
  min-height: 30px;
}

#modal_body_text_2 {
  padding: 0 0 0 20px;
}

.comment-input {
  width: 70%;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 2px solid #000000;
  max-height: 600px;
}

.comments-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 40px;
  padding: 0 0 0 0;
}

.comment-container {
  list-style-type: none;
}

.comment-div-container {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: lightgray;
  padding: 5px;
}

.comment-username {
  font-weight: bold;
  cursor: pointer;
}

.comment-detail {
  font-weight: 200;
}

.comment-content {
  font-weight: 100;
  margin-top: 5px;
  margin-left: 10px;
}

.material-icons.md-dark {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.85);
}

.material-icons.md-dark.md-inactive {
  color: rgba(70, 70, 70, 0.2);
}

.material-icons.md-light {
  padding: 5px;
  color: rgb(78, 78, 78);
}


.exp-container {
  display: grid;
  grid-gap: 5px 15px;
  grid-template-columns: 40px auto;
  grid-template-rows: minmax(40px, auto) minmax(30px, auto) minmax(30px, auto) auto auto auto;
  grid-template-areas: "exp-vote exp-title""exp-vote exp-detail""exp-vote exp-set""exp-vote exp-content""exp-commentbox exp-commentbox""exp-comments exp-comments";
  padding-left: 20px;
  padding-top: 20px;
}

.exp-vote {
  grid-area: exp-vote;
  background-color: #5cb85c;
  border-radius: 4px;
  padding: 3px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.exp-title {
  grid-area: exp-title;
  font-weight: bold;
  font-size: 28px;
}

.exp-detail {
  grid-area: exp-detail;
  font-size: 16px;
}

.exp-set {
  grid-area: exp-set;
  font-size: 16px;
}

.exp-content {
  grid-area: exp-content;
}

.exp-commentbox {
  grid-area: exp-commentbox;
}

.exp-comments {
  grid-area: exp-comments;
}

.right-content {
  border: 2px solid var(--reddit-grey);
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-button {
  border: 1px solid;
  background-color: #2978a7;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 4px 10px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin: 5px;
}

.nav-button:hover {
  cursor: pointer;
}

.nav-button-2 {
  border-color: #2978a7;
  background-color: white;
  color: rgb(0, 0, 0);
}

.nav-button-3 {
  border-color: #489738;
  background-color: #489738;
}

.nav-search {
  background-color: #2979a750;
  font: inherit;
  font-size: var(--body-text-size);
  border: none;
  outline: none;
  border: 1px solid var(--reddit-grey);
  border-radius: 4px;
  width: 90%;
  height: 30px;
  margin: 5px;
  padding: 0 10px;
}

.nav-search::placeholder {
  letter-spacing: 0.5px;
  font-size: var(--body-text-size);
}

.nav-search:focus {
  background-color: white;
  border-color: var(--reddit-blue);
}

.button-primary {
  background-color: white;
  color: var(--reddit-blue);
}

.button-secondary {
  background-color: var(--reddit-blue);
  color: white;
}

#feed_sub,
#feed_user {
  min-width: 350px;
  max-width: 1250px;
  width: 98%;
  margin: 10px auto;
  padding: 0;
}

.marker-home,
.marker-search,
.marker-sub,
.marker-all,
.marker {
  height: 40px;
  text-align: center;
  align-items: center;
  padding-top: 25px;
  font-weight: bold;
}

.subseddit-title {
  text-align: center;
  font-size: 26px;
  padding: 6px;
  border: 2px solid #5cb85c;
  margin-bottom: 10px;
  border-radius: 6px;
  word-wrap: break-word;
}

.subseddit-title-nobigfont {
  text-align: center;
  padding: 6px;
  border: 2px solid #5cb85c;
  margin-bottom: 10px;
  border-radius: 6px;
  word-wrap: break-word;
}

.subseddit-welcome {
  text-align: center;
  padding: 6px;
  border: 2px solid #5cb85c;
  margin-bottom: 10px;
  border-radius: 6px;
  word-wrap: break-word;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subseddit-inner-welcome {
  margin: 3px 3px;
}

.subseddit-inner-welcome-2 {
  margin: 3px 3px;
}

.subseddit-button-welcome {
  height: 36px;
}

.button-back {
  display: none;
  position: fixed;
  bottom: 0;
  right: 5%;
  width: 150px;
  height: 40px;
  border: none; 
  outline: none; 
  background-color: blue;
  color: white; 
  cursor: pointer;
  padding: 5px;
  border-radius: 10px 10px 0 0; 
  font-size: 18px;
  font-weight: bold;
}

.button-back:hover {
  background-color: darkblue;
}

.button-home {
  border: 1px solid #000000;
  color: black;
}

.sedditlogin {
  font-size: 14px;
  color: rgb(100, 100, 100);
  font-weight: bold;
}

.sedditlogin:hover {
  cursor: pointer;
}

label {
  margin: 4px;
}

.submission-search {
  width: 85%;
  border: 2px solid;
  border-radius: 5px;
  padding: 6px 12px;
}

#modal_body_text_smaller {
  font-size: 12px;
}