/* base styles, feel free to edit */
:root {
  --reddit-blue: #0079D3;
  --reddit-orange: #FF5700;
  --reddit-grey: rgba(0, 0, 0, 0.0975);
  --reddit-light-grey:  rgba(0, 0, 0, 0.041);
  --reddit-bg-color: #f1f1f7;
  --body-text-size: 12px;
  --alt-text-color:  rgba(0, 0, 0, 0.65);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--reddit-bg-color);
  height: 100%;
  font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
  border-top: 1px solid var(--reddit-grey);
  padding: 10px;
  background-color: white;
  min-height: 50px;
  text-align: right;
}

.alt-text {
  color: var(--alt-text-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-height: 50px;
  border-bottom: 1px solid var(--reddit-grey);
}

#logo {
  color: white;
  font-size: var(--body-text-size);
  width: 40px;
  height: 40px;
  background-color: var(--reddit-orange);
  border-radius: 50%;
}

#search {
  background-color: var(--reddit-bg-color);
  font: inherit;
  font-size: var(--body-text-size);
  border: none;
  padding: 7.5px 15px;
  outline: none;
  border: 1px solid var(--reddit-grey);
  border-radius: 4px;
}

#search::placeholder {
  letter-spacing: 0.5px;
  font-size: var(--body-text-size);
}

#search:focus {
  background-color: white;
  border-color: var(--reddit-blue);
}

.button {
  border: 1px solid var(--reddit-blue);
  border-radius: 4px;
  text-transform: uppercase;
  padding: 7.5px 15px;
  font-weight: bold;
}

.button-primary {
  color: var(--reddit-blue);
}

.button-secondary {
  background-color: var(--reddit-blue);
  color: white;
}

.banner > *,
footer > * {
  margin: 10px 25px;
}

.nav {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin: auto;
  padding: 5px;
  display: inline;
  list-style-type: none;
}

/* #feed {
  min-width: 500px;
  max-width: 800px;
  width: 80%;
  margin: 20px auto;
  padding: 0;
}
 */
.feed-header {
  display: flex;
  justify-content: space-between;
}

.feed-title {
  font-weight: normal;
  margin: 0;
}

/* Add your styles here */
html, body {
  font-family: "Helvetica", serif; 
}

footer {
  position:fixed;
  bottom:0;
}

#feed {
  min-width: 350px;
  max-width: 1250px;
  width: 95%;
  margin: 10px auto;
  padding: 0;
}

.main {
  display: grid;
  grid-template-columns: 72% 2% 26%;
  grid-template-areas: 'left . right'
}

.leftpanel {
  grid-area: left
}

.rightpanel {
  padding-block: 5px;
  padding-top: 10px;
  grid-area: right
}

.logo {
  cursor: pointer;
}

.logged-username {
  cursor: pointer;
  font-weight: bold;
}

.form {
  margin: 12px;
}

.credentials-form {
  display: inline;
  border: 1px solid;
  border-radius: 4px;
  padding: 6px 20px;
}

.submit-button {
  border: 1px solid;
  border-color: #FF5700;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 7.5px 18px;
  font-weight: bold;
  background-color: #FF5700;
  color: #eee8e8;
  margin-top: 12px;
}

.submit-button:active {
  background-color: #DD3500;
  color: #ffffff;
}

.loggedinas {
  background-color: var(--reddit-bg-color);
  font: inherit;
  font-size: var(--body-text-size);
  border: none;
  padding: 7.5px 15px;
  outline: none;
  border: 1px solid var(--reddit-grey);
  border-radius: 4px;
}

.post-list {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px
}

.post-left {
  background-color: #aaffcc;
  grid-area: p-left;
}

.post-middle {
  grid-area: p-middle;
}

.post-right {
  display: grid;
  grid-area: p-right;
  grid-template-rows: auto auto auto;
  grid-template-areas: 'pr-upper' 'pr-middle' 'pr-bottom';
}

.post-wrapper {
  border-radius: 7px;
  margin: 4px;
  left: 4px;
  padding: 0 1px;
  display: grid;
  grid-template-columns: 25px 100px auto;
  grid-template-areas: 'p-left p-middle p-right' 'p-left p-middle p-right' 'p-left p-middle p-right';
  overflow: hidden;
  background-color: white;
  border: 2px solid var(--reddit-grey);
}


.post-rightchild-upper {
  grid-area: pr-upper;
  font-weight: bold;
  padding-bottom: 5px;
  min-height: 20px;
}

.post-rightchild-middle {
  grid-area: pr-middle;
  padding-bottom: 5px;
}

.post-rightchild-bottom {
  grid-area: pr-bottom;
}

.small-button {
  border: 1px solid var(--reddit-blue);
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
}

.post-upvote {
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.post-votes {
  padding-top: 10px;
  text-align: center;
  cursor: pointer
}

.post-expandbutton {

}

.user-layout {
  grid-template-rows: 50px 20px 20px 50px 50px;
  grid-template-columns: 50% 50%;
  margin-right: 15px;
  grid-template-areas: 'user-uname' 'user-longdetail' 'user-longdetail' 'user-largenum' 'user-numeric .';
  border: 2px solid var(--reddit-grey)
}

.user-uname {
  grid-area: user-uname;
  font-weight: bold;
  font-size: 30px;
  padding: 5px
}

.user-longdetail {
  grid-area: user-longdetail;
  padding: 5px
}

.user-largenum {
  grid-area: user-largenum;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'user-numeric user-numeric'
}

.user-numeric {
  grid-area: user-numeric;
  padding: 5px;
  padding-right: 10px;
  display: grid;
  grid-template-rows: 20px 30px;
  grid-template-areas: 'user-numeric-top' 'user-numeric-bottom'
}

.user-numeric-top {
  grid-area: user-numeric-top;
  font-size: 16px
}

.user-numeric-bottom {
  grid-area: user-numeric-bottom;
  font-size: 18px;
  font-weight: bold
}

/* === MODAL === */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 24rem;
  border-radius: 0.5rem;
}


.modal-header {
  padding: 2px 16px;
  background-color: #b90921;
  color: white;
  min-height: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.modal-body {
  padding: 2px 16px;
  min-height: 1rem;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: rgb(226, 226, 226);
  color: #000000;
  margin-top: 0.5rem;
}

.close-button:hover {
  background-color: rgb(146, 146, 146);
}
